---
const stats = [
  {
    name: 'Jahre',
    value: '21',
  },
  {
    name: 'Experten',
    value: '13',
  },
  {
    name: 'Projekte',
    value: '23',
  },
  {
    name: 'Fortlaufende Kunden',
    value: '9',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.jpg"
        alt="Wir arbeiten professionel mit exzelenten Ergebnissen"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Unsere Mission</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Seit unserer Gründung am 01.01.2001 sind wir von der RBW IT-Support GmbH Ihr vertrauenswürdiger IT-Partner mit über 20 Jahren Branchenerfahrung. Unser hochqualifiziertes Team deckt ein breites Spektrum ab, von Hotlinebetreuung über Support auf verschiedenen Ebenen bis hin zu Administration, Programmierung und Schulungen.            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Unser Fokus liegt auf der ganzheitlichen Betreuung ausgewählter Kunden. Mit sicherheitsüberprüften Mitarbeitern sind wir 365 Tage im Jahr, rund um die Uhr erreichbar. Direkte Kommunikation mit persönlichen Betreuern ermöglicht es unseren Kunden, sich jederzeit mit ihren Anliegen an uns zu wenden.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Von der Hardwarebetreuung bis zu maßgeschneiderten Schulungen bieten wir Lösungen, die auf die individuellen Bedürfnisse unserer Kunden zugeschnitten sind. Rollouts, Migrationen und Softwareverteilungen gehören ebenso zu unseren Stärken wie die Administration von Accounts und dem Active Directory (AD).
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Unser Team, geleitet von den Geschäftsführern Frank Rutkowski und Detlef Barckmann, steht bereit, Ihre IT-Herausforderungen mit Fachkompetenz und Engagement zu meistern. Kontaktieren Sie uns, um gemeinsam erstklassigen IT-Support zu erleben. Wir freuen uns darauf, Sie auf Ihrem Weg zu begleiten.            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
