---
const values = [
  [
    {
      ref: '01',
      name: 'Professionalität',
      description:
        'Respekt ist unser Fundament bei RBW IT Support. Wir schätzen jeden Kunden und Mitarbeiter. Durch respektvolle Kommunikation fördern wir Zusammenarbeit, Vertrauen und erstklassigen Service. Respekt ist der Schlüssel zu erfolgreichen Partnerschaften und nachhaltigen Lösungen in der IT-Welt. Bei RBW IT Support steht Respekt im Zentrum unserer Werte und treibt Innovation voran.',
    },
    {
      ref: '02',
      name: 'Innovation',
      description:
        'Innovation treibt uns an. Bei RBW IT Support sind wir stets auf der Suche nach neuen Wegen, um erstklassige IT-Lösungen zu bieten. Durch kontinuierliche Weiterentwicklung und kreative Ansätze streben wir danach, die Zukunft der Informationstechnologie zu gestalten.',
    },
  ],
  [
    {
      ref: '03',
      name: 'Teamwork',
      description:
        'Teamwork ist ein zentraler Bestandteil der Arbeitskultur bei RBW IT Support. In unserem engagierten Team schaffen wir durch koordinierte Anstrengungen und harmonische Zusammenarbeit innovative IT-Lösungen. Jedes Teammitglied bringt einzigartige Fähigkeiten und Perspektiven ein, die wir schätzen und aktiv fördern. Diese kooperative Dynamik ermöglicht es uns, Herausforderungen effizient und kreativ anzugehen. Bei RBW IT Support ist wahre Exzellenz das Ergebnis enger Zusammenarbeit und inspirierender Interaktionen innerhalb unseres Teams.',
    },
    {
      ref: '04',
      name: 'Respekt',
      description:
        'Respekt ist bei RBW IT Support nicht nur eine Haltung, sondern der Schlüssel zu erfolgreicher Zusammenarbeit. Wir schätzen die Einzigartigkeit jedes Kunden und Teammitglieds, fördern Vertrauen und schaffen so eine Grundlage für erstklassigen Service und nachhaltige Lösungen.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Unsere Werte</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
