---
const services = [
  {
    step: '01',
    name: 'Hardware',
    description:
      'Wir bieten maßgeschneiderte Lösungen für eine Vielzahl an Hardwareanforderungen. Unsere langjährige Erfahrung gewährleistet die reibungslose Funktionsweise Ihrer auf sie zugeschnittenen Hardwareinfrastruktur.',
  },
  {
    step: '02',
    name: 'Administration',
    description:
      'Wir übernehmen die Pflege Ihrer Accounts, die Verwaltung des Active Directory (AD) mit eigenen Organisationseinheiten (OUs), die Erstellung und Pflege von Policies und Rechteverwaltung sowie die Administration von Webservice und bedingt Exchange.',
  },
  {
    step: '03',
    name: 'Schulung',
    description:
      'Unsere Schulungen zeichnen sich durch praxisnahes Schulungsmaterial und umfassende Einweisungen aus. Ob es um die neuesten Technologien, Sicherheitsprotokolle oder individuelle Anforderungen geht – wir befähigen Ihr Team.',
  },
  {
    step: '04',
    name: 'Rollout',
    description:
      'Von Migrationen bis zur Softwareverteilung übernehmen wir den gesamten Rollout-Prozess. Mit unserer Erfahrung und präzisen Planung gewährleisten wir eine nahtlose Implementierung, um Ihre IT-Landschaft effizient zu erweitern oder zu aktualisieren.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-6 sm:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Unsere Services</h2>
      <div class="grid gap-4 lg:grid-cols-4">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
